<!DOCTYPE html>
<html>    
<head>
    <title>Ecam Notepad Angular</title>
    <meta charset="utf-8">
    <link href="{{ asset('js/styles.bundle.css')}}" rel="stylesheet"/>
</head>
<body> 
  <my-app>Loading...</my-app>
</div>
</body>


<script type="text/javascript" src="{{ asset('js/inline.bundle.js')}}"></script>
<script type="text/javascript" src="{{ asset('js/polyfills.bundle.js')}}"></script>
<script type="text/javascript" src="{{ asset('js/vendor.bundle.js')}}"></script>
<script type="text/javascript" src="{{ asset('js/main.bundle.js')}}"></script>


</html>