<!DOCTYPE html>
<html>    
    <head>
        {% form_theme form 'bootstrap_3_layout.html.twig' %}
    	<link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
		<link rel="stylesheet" href="{{ asset('css/main.css') }}" />
        <title>Ecam Notepad</title>
    </head>
    
    <body> 
    <div class="container-fluid">
    <div class="row">
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand">ECAM Notepad</a>
            </div>
            <ul class="nav navbar-nav">
              <li><a href="{{ path('notes_homepage') }}">List of your notes</a></li>
              <li><a href="{{ path('createNote') }}">Create a new note!</a></li>
              <li><a href="{{ path('listCategories') }}">List of categories</a></li>
              <li><a href="{{ path('createCategory') }}">Create a new category!</a></li>
            </ul>
          </div>
        </nav>
    </div>

    {% if app.session.flashbag.has('error')%}
      <div class="row">
       {% for flashMessage in app.session.flashBag.get('error') %}
          <div class="alert alert-danger">
          <strong>Warning!</strong> {{ flashMessage }}
            </div>
       {% endfor %}
    {% endif %}

    <div class="container-fluid">
        
        {{ form_start(form) }}
        <div class="col-md-6">
                    {{ form_row(form.label)}}
                    {{ form_widget(form.save)}}
        </div>
        {{ form_end(form) }}
    </div>
    </body>
</html>