<!DOCTYPE html>
<html>
    
    <head>
    	<link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
		<link rel="stylesheet" href="{{ asset('css/main.css') }}" />
        <title>Ecam Notepad</title>
    </head>
    
    <body>

    <div class="col-md-10">
    <h1>Welcome to Ecam Notepad</h1>
    <a href="{{ path('createNote') }}">Home</a>
        <ul id="notesList">
        {% for note in notes %}
            <li>
            	<div class="row">
            		<div class ="row">
            			<div class = "col-md-4"> {{ note.title }} </div>
            		</div>
            		<div class ="row">
            			<div class = "cold-md-8"> {{ note.content }} </div>
            		<div>
            	</div>
            </li>
        {% endfor %}
        </ul>
    
    </div>
    </body>
</html>