<!DOCTYPE html>
<html>    
    <head>
    	<link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
		<link rel="stylesheet" href="{{ asset('css/main.css') }}" />
        <title>Ecam Notepad</title>
    </head>

    <body> 
    <div class="container-fluid">

    <div class="row">
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand">ECAM Notepad</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="{{ path('notes_homepage') }}">List of your notes</a></li>
                <li><a href="{{ path('createNote') }}">Create a new note!</a></li>
                <li class="active"><a href="{{ path('listCategories') }}">List of categories</a></li>
                <li><a href="{{ path('createCategory') }}">Create a new category!</a></li>
            </ul>
          </div>
        </nav>        
    </div>
    
    {% if app.session.flashbag.has('notice') or app.session.flashbag.has('success') or app.session.flashbag.has('error') %}
        <div class="row">
        {% for flashMessage in app.session.flashBag.get('notice') %}
            <div class="alert alert-warning">
            <strong>Warning!</strong> {{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashBag.get('success') %}
            <div class="alert alert-success">
            <strong>Success!</strong> {{ flashMessage }}
            </div>
        {% endfor %}
       {% for flashMessage in app.session.flashBag.get('error') %}
          <div class="alert alert-danger">
          <strong>Error!</strong> {{ flashMessage }}
            </div>
       {% endfor %}
        </div>
    {% endif %}

    <div class="container-fluid">
        <div class=" list-group col-md-6">
            {% for category in categories %}

              <span class="list-group-item clearfix">
                <span class="glyphicon glyphicon-file"></span>
                {{ category.label }}
                <span class="pull-right">
                   <a href="{{path('editCategory',{'id':category.id})}}" class="btn btn-xs btn-default">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>
                    <a href="{{path('deleteCategory',{'id':category.id})}}" class="btn btn-xs btn-default">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </span>
              </span>
            {% endfor %}
        </div>        
    </div>
    </div>
    </body>
</html>